.Avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.Block {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
}

.header .Pagination {
  align-self: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.users {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.preloader {
  position: absolute;
}

.Follow {
  width: 60px;
  height: 30px;
  margin-top: 10px;
  background-color: #19750f;
  border: none;
  color: white;
  
}
.Follow:hover {
  color: white;
  box-shadow: 0px 2px 2px black;
}

.Unfollow {
  width: 75px;
  height: 30px;
  margin-top: 10px;
  background-color: red;
  border: none;
  color: white;
}

.Unfollow:hover {
  color: white;
  box-shadow: 0px 2px 2px black;
}

.userName {
  font-size: 15px;
  color: black;
  font-family: montserrat;
  font-weight: 700;
}

.infoUser {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 160px;
}

.elipsiss {
  max-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}