.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:10px;
  }

  .Nav .Logo img {
    max-height: 100px;
    max-width: 100px;
  }

  .Nav span {
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
  }