
.AboutMe span {
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
    
}
.AboutMe ul li {
    list-style-type: none;
    margin-bottom: 10px;
}
.AboutMe ul {
    padding: 0;
}


.AboutMe {
    animation: anime .4s ease-in-out;
    max-width: 200px;
}

@keyframes anime {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
