
  .Profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .Profile .Avatar img {
    max-width: 200px;
    height: 200px;
    border-radius: 30px;
    
  }
  .Profile .Avatar {
    text-align: center;
  }


.svg {
  position: absolute;
  top: 0;
  right: 0;
}
.svg path{
  fill:#000;
}
.svg:hover path{
  fill:#5d8aa8;
}

.ImageSettings {
  max-width: 250px;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.AboutMe .editButton {
 margin-left: 10%;
}