.Profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 100px;
  align-items: start;
  padding-left: 100px;
  row-gap: 50px;
  padding-right: 100px;
  height: 310px;
}

  .Profile .Avatar img {
    max-width: 200px;
    height: 200px;
    border-radius: 30px;
    
  }
  .Profile .Avatar {
    text-align: center;
  }


.svg {
  position: absolute;
  top: 0;
  right: 0;
}
.svg path{
  fill:#000;
}
.svg:hover path{
  fill:#5d8aa8;
}

.ImageSettings {
  width: 250px;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.AboutMe {
  padding-top: 50px;
  align-self: flex-start;
}
