.status{
  margin-top: 20px;
}

.status p {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
  padding-top: 5px;
}

.status input {
    border-radius: 3px;
    border: 1px solid #f5f5f5;
    transition: .3s border-color;
    animation: anime .4s ease-in-out;
}

.status input:focus {
  outline: 0;
  background-color: #f5f5f5;
}



@keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.status span{
  animation: anime .4s ease-in-out;

}

.notStatus {
  font-size: 14px;
  font-family: montserrat;
  font-weight: 600;
}