.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 180px;
}

.loginWcaptcha {
    height:300px;
}

.captcha img {
    max-width: 100px;
    max-height: 50px;
}

.error {
    color: #FF0000;
}

.RememberMe{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin-bottom: 20px;
}
.RememberMe input {
    margin-left: 10px;
   vertical-align: bottom;
}