body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Wrapper_App {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "nav nav"
  "navleft cont";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap:40px;
  font-family: Montserrat;
}
.Wrapper_Content {
    grid-area:cont;
}